<nav class="navbar is-dark is-inverted">
  <div class="navbar-brand">
    <a id="start" class="navbar-item has-text-weight-bold" href="/">WeatherTop </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a id="signup" class="navbar-item has-text-weight-bold" href="/signup">Signup </a>
      <a id="login" class="navbar-item has-text-weight-bold" href="/login">Login </a>
    </div>
  </div>
</nav>

<script>
    $("#${_id}").addClass("has-background-white has-text-black");
</script>
