#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<div class="content box" xmlns="http://www.w3.org/1999/html">
  <p class="title">
    Weather App
  </p>
  <div class="columns">
    <div class="column is-half">
      <div class="content has-text-centered">
        <p class="py-6">
          Monitor the latest meteorological readings collected from <em>WeatherTop 1000</em> weather stations around the
          country.
          Keep up to date with the latest temperatures, wind speeds and much more. You can also become a contributor by
          using the <em>WeatherTop 1000</em> modular weather station to collect readings and submit them on this easy to
          use application.
        <figure>
          <img src="public/images/weathertop-watch-tower.jpg" alttext="weathertop logo ">
        </figure>
        </p>
      </div>
    </div>
    <div class="column is-half">
      <figure class="image is-square">
        <img src="public/images/weatherstation.jpg" alttext="weather station">
      </figure>
    </div>
  </div>
</div>
