#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<header class="title is-2 has-text-white has-background-grey-light">
  ${member.firstname} ${member.lastname}'s Weather Stations
</header>

#{list items:stations, as:'station'}
<div class="content box">
  <h1 class="title">
    ${station.name}
  </h1>
  <p>
    <a href="/stations/${station.id}"><span class="icon is-large has-text-black">
    <i class="fas fa-folder"></i>
    </span> </a>
  </p>
</div>
#{/list}
#{addstation /}