#{extends 'main.html' /}
#{set title:'Welcome' /}

#{welcomemenu id:"start"/}

<div class="content box">
  <p class="title">
  <div class="content has-text-centered text is-large has-text-weight-bold">
    Weather Top
  </div>
  </p>
  <div class="content has-text-centered text is-medium has-text-weight-bold">
    <p>
      Please select <a id="signup" class="" href="/signup">Signup </a> or
      <a id="login" class="" href="/login">Login </a>
    </p>
    <figure class="image is-square">
      <img src="public/images/vector-weather-forecast-icons-set.png" alttext="weather symbols">
    </figure>
  </div>
</div>