#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<div class="content box">
  <h1 class="title">
    ${station.name}
  </h1>
  <div class="block">
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box has-background-dark has-text-white">
        <span class="icon-text">
          <span>${station.name}</span>
            <span class="icon">
               <i class="fa-solid fa-location-dot"></i>
            </span>
        </span>
        <br/>
        <br/>
        Lat: ${station.lat()}
        <br/>
        Lng: ${station.lng()}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-dark has-text-white">
        <span class="icon-text">
          <span>Weather</span>
           <span class="icon">
           #{if codeToText=="Clear"} <i class="fa-solid fa-sun"></i>
           #{/if}
             #{elseif codeToText=="Partial Clouds"} <i class="fa-solid fa-cloud-sun"></i>
             #{/elseif}
             #{elseif codeToText=="Cloudy"} <i class="fa-solid fa-cloud"></i>
             #{/elseif}
             #{elseif codeToText=="Light Showers"} <i class="fa-solid fa-umbrella"></i>
             #{/elseif}
             #{elseif codeToText=="Heavy Showers"} <i class="fa-solid fa-cloud-showers-heavy"></i>
             #{/elseif}
             #{elseif codeToText=="Rain"} <i class="fa-solid fa-droplet"></i>
             #{/elseif}
             #{elseif codeToText=="Snow"} <i class="fa-solid fa-snowflake"></i>
             #{/elseif}
             #{elseif codeToText=="Thunder"} <i class="fa-solid fa-bolt"></i>
             #{/elseif}
        </span>
           </span>
        <br/>
        <br/>
        #{if station.readings.size() > 0}
        <p>${codeToText}
          #{/if}
          #{else}
          No reading available
          #{/else}
        </p>
      </article>
    </div>
    </span>
    <div class="tile  is-parent">
      <article class="tile is-child box has-background-dark has-text-white">
        <span class="icon-text">
          <span>Temp</span>
            <span class="icon">
               <i class="fas fa-temperature-full"></i>
            </span>
        </span>
        <br/>
        <br/>
        #{if station.readings.size() > 0}
        <p> ${station.latestTemperature()} °C
          <br/>
          ${fahrenheit} °F
          <br/>
          Min: ${minimumTemperature.temperature} °C
          <br/>
          Max: ${maximumTemperature.temperature} °C
        </p>
        #{/if}
        #{else}
        No reading available
        #{/else}
      </article>
    </div>
    <div class="tile  is-parent">
      <article class="tile is-child box has-background-dark has-text-white">
        <span class="icon-text">
          <span>Wind</span>
            <span class="icon">
               <i class="fas fa-wind"></i>
            </span>
        </span>
        <br/>
        <br/>
        #{if station.readings.size() > 0}
        <p> ${station.kmToBeaufort()}
          <br/>
          ${station.windDirectionToCompass()}
          <br/>
          Feels like ${station.windChill()} °C
          <br/>
          Min: ${minimumWindSpeed.windSpeed} km/h
          <br/>
          Max: ${maximumWindSpeed.windSpeed} km/h
        </p>
        #{/if}
        #{else}
        No reading available
        #{/else}
      </article>
    </div>
    <div class="tile  is-parent">
      <article class="tile is-child box has-background-dark has-text-white">
        <span class="icon-text">
          <span>Pressure</span>
            <span class="icon">
              <i class="fa-sharp fa-solid fa-gauge-simple"></i>
            </span>
        </span>
        <br/>
        <br/>
        #{if station.readings.size() > 0}
        <p> ${station.latestPressure()} hpa
          <br/>
          Min: ${minimumPressure.pressure}
          <br/>
          Max: ${maximumPressure.pressure}
        </p>
        #{/if}
        #{else}
        No reading available
        #{/else}
      </article>
    </div>
    <h1 class="title">
    </h1>
  </div>
  #{listReadings station:station /}
  #{addreading station:station /}
</div>
